@model BookNGo.Models.House

@*@{
        ViewBag.Title = "Details House";
}*@

<h2>House Details</h2>
<hr />

<div>
    <img src="@Url.Content("/" + Model.Images.First().ImageUrl)" style="background-size: cover; height: 230px; width: 350px; border: 1px solid gray;" />
</div>

<table class="table table-striped table-hover" style="margin-top: 20px;">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.MaxOccupancy)</th>
        <th>@Html.DisplayNameFor(model => model.PricePerNight)
        <th>@Html.DisplayNameFor(model => model.Category)</th>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
    </tr>
    <tr style="font-size: 115%; padding-top: 15px;">
        <td>@Html.DisplayFor(model => model.Title)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Address)</td>
        <td>@Html.DisplayFor(model => model.MaxOccupancy)</td>
        <td>@Html.DisplayFor(model => model.PricePerNight)
        <td>@Html.DisplayFor(model => model.Category.CategoryName)</td>
        <td>@Html.DisplayFor(model => model.Location.LocationName)</td>
    </tr>
</table>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Book It!", "BookIt", "Reservations", new { houseId = Model.HouseId }, new { @class = "btn btn-primary btn-sm" })
    }
    @Html.ActionLink("Back", "Index", "Home", new { @class = "btn btn-info btn-sm" })
</div>