@model IEnumerable<BookNGo.Models.House>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <input type="text" name="title" placeholder="Enter House Title" />
        <input type="text" name="occupancy" placeholder="Enter Occupancy" />
        <input type="submit" name="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.HouseId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.HouseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.HouseId })
                </td>*@
        </tr>
    }

</table>
