<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add favicon in browser tab -->
    <link rel="icon" href="~/Image/favicon.png">
    <title>BookNGo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <br />
    <br />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo Code -->
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Image/Logo.png" alt="BookNGo Logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Our Team", "About", "Home")</li>
                    @* Added Code *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My House", "MyHouses", "Houses")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Reservation", "MyReservations", "Reservations")</li>
                    }
                    @* Only appear admin panel if case is true *@
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin Page", "AdminPage", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            <div class="container-fluid">
                &copy; @DateTime.Now.Year - BookNGo
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>