@model BookNGo.Models.Reservation

@{
    ViewBag.Title = "Cancel Your Reservation";
}

<h2>Cancellation</h2>
<hr />
<h3>Do you wish to cancel your reservation?</h3>
<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.House.Title)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfOccupants)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBooking)
            <th>@Html.DisplayNameFor(model => model.Comments)</th>
            <th>@Html.DisplayNameFor(model => model.PriceCharged)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.House.Title)</td>
            <td>@Html.DisplayFor(model => model.StartDate)</td>
            <td>@Html.DisplayFor(model => model.EndDate)</td>
            <td>@Html.DisplayFor(model => model.NumberOfOccupants)</td>
            <td>@Html.DisplayFor(model => model.DateOfBooking)
            <td>@Html.DisplayFor(model => model.Comments)</td>
            <td>@Html.DisplayFor(model => model.PriceCharged)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Cancel" class="btn btn-danger" />
        @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-info" })
    </div>
    }
</div>
