@model BookNGo.Models.Reservation

@{
    ViewBag.Title = "Details For Reservation";
}

<h2>Reservation Details</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.House.Title)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.NumberOfOccupants)</th>
        <th>@Html.DisplayNameFor(model => model.DateOfBooking)
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
        <th>@Html.DisplayNameFor(model => model.PriceCharged)</th>
    </tr>
    <tr style="font-size: 115%; padding-top: 15px;">
        <td>@Html.DisplayFor(model => model.House.Title)</td>
        <td>@Html.DisplayFor(model => model.StartDate)</td>
        <td>@Html.DisplayFor(model => model.EndDate)</td>
        <td>@Html.DisplayFor(model => model.NumberOfOccupants)</td>
        <td>@Html.DisplayFor(model => model.DateOfBooking)
        <td>@Html.DisplayFor(model => model.Comments)</td>
        <td>@Html.DisplayFor(model => model.PriceCharged)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back", "Index", "Reservations", null, new { @class = "btn btn-info" })
</p>
