@model IEnumerable<BookNGo.Models.Reservation>

@{
    ViewBag.Title = "My Houses Reservations";
}

<h2>My Houses Reservations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.House.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfOccupants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBooking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceCharged)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.House.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfOccupants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBooking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceCharged)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>*@
        <td>
            @Html.ActionLink("Details Reservation", "Details", new { id=item.ReservationId }) @*|
            @Html.ActionLink("Cancel Reservation", "Delete", new { id=item.ReservationId })*@
        </td>
    </tr>
}

</table>
