@model IEnumerable<BookNGo.Models.House>

@{
    ViewBag.Title = "My Houses";
}

<h2>My Houses</h2>

<p>
    @Html.ActionLink("Add House", "Create", "House", new { @class = "btn btn-primary" })
    @if (User.IsInRole("Admin, Owner"))
    {
        @Html.ActionLink("Reservations", "MyHousesReservations", "Reservations", null, new { @class = "btn btn-success" })
    }
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td style="font-size: 115%; padding-top: 15px;">
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.ActionLink("Book It!", "BookIt", "Reservations", new { houseId = item.HouseId }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Edit", "Edit", new { id = item.HouseId }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Details", "Details", new { id = item.HouseId }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Remove", "Delete", new { id = item.HouseId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>