@model IEnumerable<BookNGo.Models.House>

@{
    ViewBag.Title = "My Houses";
}

<h2>My Houses</h2>

<p>
    @Html.ActionLink("Add House", "Create", null, new { @class = "btn btn-primary" })
    @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
    {
        @Html.ActionLink("Reservations", "MyHouseReservations", "Reservations", new {@class ="btn btn-success" })
    }
</p>

<table class="table table-striped table-hover">
    <tr class="bg-info">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.ActionLink("Edit House", "Edit", new { id = item.HouseId }) |
                @Html.ActionLink("Details House", "Details", new { id = item.HouseId }) |
                @Html.ActionLink("Delete House", "Delete", new { id = item.HouseId })
            </td>
        </tr>
    }
</table>