@model IEnumerable<BookNGo.Models.House>
@{
    ViewBag.Title = "My Houses";
}

<h2>My Houses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("My House Reservations", "MyHouseReservations", "Reservations")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.ActionLink("Edit House", "Edit", new { id = item.HouseId }) |
                @Html.ActionLink("Details House", "Details", new { id = item.HouseId }) |
                @Html.ActionLink("Delete House", "Delete", new { id = item.HouseId })
            </td>
        </tr>
    }

</table>
