@model IEnumerable<BookNGo.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Add Location", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="font-size: 115%; padding-top: 15px;">
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Details", "Details", new { id = item.LocationId }, new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationId }, new { @class = "btn btn-danger btn-sm" }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "AdminPage", "Home", null, new { @class= "btn btn-info btn-sm" })
</div>